.button{
    cursor: pointer;
    width: 8%;
    position: absolute;
    top: 13%;
}
.button-pres {
    left: 35%;
}
.button-quiz {
    left: 55%;
}

.button-back {
    cursor: pointer;
    width: 5%;
    position: absolute;
    top: 0;
    right: 0;
}

.button-back-quiz {
    cursor: pointer;
    width: 5%;
    position: absolute;
    top: 0;
    left: 0;
}

.button-next-quiz {
    cursor: pointer;
    width: 5%;
    position: absolute;
    top: 0;
    right: 0;
}

.button-listen-quiz {
    width: 7%;
    position: absolute;
    left: 46%;
}