body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bg {
    position: relative;
    background: url("../img/city2_bg.png");
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    background-position: 0 0;
}

.car1 {
    position: absolute;
    height: 35%;
    bottom: 12%;
    left: 30%;
}

.car2 {
    position: absolute;
    height: 35%;
    bottom: 12%;
    left: 8%;
}

.car3 {
    position: absolute;
    height: 35%;
    bottom: 12%;
    right: 28%;
}

.car4 {
    position: absolute;
    height: 35%;
    bottom: 12%;
    right: 5%;
}

.one {
    cursor: pointer;
    position: absolute;
    height: 20%;
    bottom: 42%;
    left: 20%;
}

.two {
    cursor: pointer;
    position: absolute;
    height: 20%;
    bottom: 42%;
    left: 40%;
}

.three {
    cursor: pointer;
    position: absolute;
    height: 20%;
    bottom: 42%;
    right: 30%;
}

.four {
    cursor: pointer;
    position: absolute;
    height: 20%;
    bottom: 42%;
    right: 10%;
}

.star {
    width: 7%;
    position: absolute;
    bottom: 0;
}