body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bg {
    position: relative;
    background: url("../img/city2_bg.png");
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    background-position: 0 0;
}

.car1 {
    z-index: 1;
    position: absolute;
    height: 300px;
    bottom: -48px;
    left: 320px;
}

.car2 {
    position: absolute;
    height: 35%;
    bottom: 12%;
    left: 8%;
}

.car3 {
    z-index: 1;
    position: absolute;
    height: 300px;
    bottom: -48px;
    right: 310px;
}

.car4 {
    z-index: 1;
    position: absolute;
    height: 300px;
    bottom: -48px;
    right: 0px;
}

.one {
    position: absolute;
    height: 10%;
    bottom: 42%;
    left: 14%;
}

.two {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    height: 150px;
    bottom: -30px;
    left: 450px;
    top: 120px;
}

.three {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    height: 160px;
    bottom: 300px;
    right: 460px;
}

.four {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    height: 180px;
    bottom: 280px;
    right: 250px;
}