body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.bg {
    position: relative;
    background: url(../img/city2_bg.png) no-repeat;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    background-position: 0 0;
}

.car {
    height:400px;
    position:fixed;
    bottom:70px;
}

.traffic {
    z-index:1;
    height: auto;
    position: absolute;
    bottom: 80px;
    left: 200px;
    animation: animateSemaphore 21s forwards;
}
#yellow{
    left: 1200px;
    position: fixed;
    bottom: 240px;
}

#blue {
    left: 1200px;
    position: fixed;
    bottom: 80px;
}

#red {
    left: 1200px;
    position: fixed;
    bottom: 320px;
}

#green {
    left: 1200px;
    position: fixed;
    bottom: 160px;
}


.star {
    width: 6%;
    position: absolute;
    bottom: 0;
}
