body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bg {
    position: relative;
    background: url(../img/bg_pres.png) no-repeat;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    background-position: 0 0;
}

.building {
    width: 28%;
    position: absolute;
    right: 24%;
    bottom: 39%;
}

.car {
    z-index: 1;
    position: absolute;
    width: 20%;
    bottom: 2%;
    left: 2%;
    animation: animate 5s forwards;

}

.patient {
    position: absolute;
    left: 22%;
    bottom: 38%;
    width: 21%;

}

.doctor {
    position: absolute;
    bottom: 36%;
    right: 9%;
    width: 12%;

}

.boy {
    z-index: 1;
    position: absolute;
    bottom: 6%;
    right: 31%;
    width: 6%;
}

@keyframes animate {
    from {
        left: 0%;
    }
    to {
        left: 35%;

    }
}

.boy-go {
    animation: animate-boy 5s forwards;
}

.car-go {
    animation: animate-car 5s forwards;

}

@keyframes animate-boy {
    from {
        left: 65%;
    }
    to {
        left: 40%;

    }
}

@keyframes animate-car {
    from {
        left: 35%;
    }
    to {
        left: 100%;

    }
}